<%= form_for(@tip, :html => {:class => 'form-horizontal well'}) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'input-xlarge', :rows => 3, :cols => nil%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :twitter_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :twitter_id %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit :value => 'Post', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
