<h1>Vim Tips</h1>

<% if !notice.nil? %>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<ul id="tips">
<% @tips.each do |tip| %>
  <li class="tip well">
    <%= tip.content %>
    <%= render 'via', :tip => tip %>
    <%= link_to tip, :class => 'tip-link hide', :title => 'Leave A Comment' do %>
      <i class="icon-comment"></i>
    <% end %>
  </li>
<% end %>
</ul>

<%= will_paginate @tips %>

